<div class="container-xxl px-md-4 px-lg-5 min-vh-100 mb-5">
<div class="row">
  <div class="col-12 col-md-3 col-lg-3 mb-3">
    <div class="filtros filtros-desktop">
      <div class="d-flex justify-content-between align-items-center">
          <h2 class="title">Filtros</h2>
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#C4C5C7"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-adjustments-horizontal"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 6l8 0" /><path d="M16 6l4 0" /><path d="M8 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 12l2 0" /><path d="M10 12l10 0" /><path d="M17 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 18l11 0" /><path d="M19 18l1 0" /></svg>
      </div>
      <hr>
    <form [formGroup]="filtrosForm" (ngSubmit)="onSubmit()">
      <!-- FILTROS -->
        <ng-container *ngFor="let categoria of categorias; let i = index">
                <div class="mb-3">
                    <div class="selector d-flex justify-content-between align-items-center" (click)="toggleDropdown(i)">
                        <span>{{ categoria.nombre }}</span>
                        <svg [class.rotated]="categoria.open" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#2b2d2f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-chevron-right"><path d="M9 6l6 6l-6 6"/></svg>
                    </div>

                    <div *ngIf="categoria.open" class="dropdown-options">
                      <label class="custom-checkbox" *ngFor="let opcion of categoria.opciones; let j = index">
                        <input type="checkbox" />
                          <span class="checkmark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#2b2d2f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                          </span>
                          <span class="option">{{ opcion }}</span>
                      </label> 
                        <!-- <span class="option" *ngFor="let opcion of categoria.opciones; let j = index">{{ opcion }}</span> -->
                    </div>
                </div>
      </ng-container>
      <hr>
      <h3 class="filterName mb-4">Precio</h3>
      <app-price-slider></app-price-slider>
      <button type="submit" class="mt-4 btn btnFilters">Aplicar filtros</button>
    </form>
    </div>

    <button class="btn mt-1 mb-3 btn-offcanvas-mobile d-flex justify-content-between align-items-center gap-1" 
            type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilters" aria-controls="offcanvasFilters">
      <span class="btnFilterText">Filtros</span> 
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-adjustments-horizontal"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 6l8 0" /><path d="M16 6l4 0" /><path d="M8 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 12l2 0" /><path d="M10 12l10 0" /><path d="M17 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 18l11 0" /><path d="M19 18l1 0" /></svg>
    </button>

    <div class="offcanvas offcanvas-start  custom-offcanvas" tabindex="-1" id="offcanvasFilters" aria-labelledby="offcanvasFiltersLabel">
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title title" id="offcanvasFiltersLabel">Filtros</h5>
        <button type="button" class="shadow-none btn p-0 border-0 bg-transparent ms-auto" data-bs-dismiss="offcanvas" aria-label="Cerrar">
          <svg xmlns="http://www.w3.org/2000/svg"  width="26"  height="26"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
        </button>
      </div>
      <div class="offcanvas-body">
        <form [formGroup]="filtrosForm" (ngSubmit)="onSubmit()">
          <!-- FILTROS -->
          <ng-container *ngFor="let categoria of categorias; let i = index">
            <div class="mb-3">
              <div class="selector d-flex justify-content-between align-items-center" (click)="toggleDropdown(i)">
                <span>{{ categoria.nombre }}</span>
                <svg [class.rotated]="categoria.open" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#2b2d2f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-chevron-right"><path d="M9 6l6 6l-6 6"/></svg>
              </div>

              <div *ngIf="categoria.open" class="dropdown-options">
                <label class="custom-checkbox" *ngFor="let opcion of categoria.opciones; let j = index">
                  <input type="checkbox" />
                  <span class="checkmark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#2b2d2f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                  </span>
                  <span class="option">{{ opcion }}</span>
                </label> 
                <!-- <span class="option" *ngFor="let opcion of categoria.opciones; let j = index">{{ opcion }}</span> -->
              </div>
            </div>
          </ng-container>
          <hr>
          <h3 class="filterName mb-4">Precio</h3>
          <app-price-slider></app-price-slider>
          <button type="submit" class="mt-4 btn btnFilters">Aplicar filtros</button>
      </form>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-9 col-lg-9 mb-5">
      <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between gap-2 mb-4">
        <h2 class="title2 text-break mb-2 mb-sm-0 mb-lg-0">Todo</h2>
        <div class="searchBar">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="var(--scondary-text)"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
          <input type="text" placeholder="Buscar producto...">
        </div>
      </div>
      <div class="row g-2">
        @defer (when !loading()) {
          @for (product of products; track product.id) {
            <!-- CARDS -->
            <div class="col-6 col-md-4 col-lg-3 mb-3">
              <app-product-cards [product_id]="product.id" [name]="product.name" [price]="+product.price" [discount]="+product.discount"
                [photo_link]="product.product_photos?.[0]?.photo_link" [categories]="product.categoryNames" ></app-product-cards>
            </div>
          } @empty {
            <div class="mt-5 mb-4 d-flex flex-row justify-content-center align-content-center">
              <h5 class="text-muted">No hay resultados 😿</h5>
            </div>
          }
        } @placeholder {
          <div class="w-100 d-flex justify-content-center align-items-center py-5">
            <app-loader-elements></app-loader-elements>
          </div>
        }
      </div>
  </div>
</div>
</div>