<h5 class="title">Completa los datos para agendar tu cita</h5>
<h5 class="instructions">Proporciona los datos solicitados.</h5>

<form class="mt-5" [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-6 col-md-6 col-lg-6 mb-4">
                <label for="day" class="form-label">Fecha</label>
                <input type="date" id="day" formControlName="day" [min]="today" class="form-control customInputs">
                <app-error-messages [control]="getControl('day')" version="m" label="Este campo"></app-error-messages>
            </div>
            <div class="col-6 col-md-6 col-lg-6 mb-4">
                <label for="hour" class="form-label">Hora</label>
                <input type="time" [min]="minHour" formControlName="hour" class="form-control customInputs">
                <app-error-messages [control]="appointmentForm.get('hour')" version="m" label="Este campo"></app-error-messages>
                <div *ngIf="appointmentForm.get('hour')?.hasError('invalidHour')" class="textDanger">
                    <small>Solo se permite entre 10:00 AM y 9:00 PM</small>
                </div>
            </div>
        </div>

        <div *ngIf="service">
            <label for="pet_id" class="mb-4 form-label">Selecciona la mascota</label>
            <select class="form-control" id="pet_id" formControlName="pet_id">
                <option hidden disabled selected value="">Seleccionar</option>
                <option *ngFor="let pet of userPets" [value]="pet.id">{{pet.name}}</option>
            </select>
            <app-error-messages [control]="getControl('pet_id')" version="m" label="Este campo"></app-error-messages>
        </div>

        <label for="description" class="mt-4 form-label">Descripción</label>
        <textarea id="description" formControlName="description" class="form-control customInputs" autocapitalize="on" wrap="hard" minlength="20" maxlength="500" spellcheck="true" rows="8" placeholder="Agrega información adicional que debamos considerar, como necesidades especiales, comportamiento, alergias, entre otros."></textarea>
        <app-error-messages [control]="getControl('description')" version="m" label="Este campo"></app-error-messages>

        <button *ngIf="!service" type="submit" class="mt-4 btn btnMakeAppointment">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="me-1 icon icon-tabler icons-tabler-outline icon-tabler-calendar-week"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" /><path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h16" /><path d="M7 14h.013" /><path d="M10.01 14h.005" /><path d="M13.01 14h.005" /><path d="M16.015 14h.005" /><path d="M13.015 17h.005" /><path d="M7.01 17h.005" /><path d="M10.01 17h.005" /></svg>
            Agendar cita
        </button>

        <div class="mt-4 w-100" *ngIf="service">
            <app-order-resume (submitForm)="onSubmit()" [appointmentData]="appointmentData" [typePayment]="'services'" [pay]="true" [total]="total" [subtotal]="subTotal" [discountApply]="discount" btnLabel="Pagar cita"></app-order-resume>
        </div>
</form>