<h4 class="text-center tittle">Crea tu cuenta</h4>
<p class="text-center secondaryText thin mb-4">
  Crea tu cuenta y accede a todos nuestros servicios
</p>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="w-100">
  <!-- NOMBRE -->
  <div class="mb-4">
    <label class="form-label" for="name">Nombre(s)</label>
    <input
      type="text"
      id="name"
      formControlName="name"
      class="form-control customInputs"
      placeholder="ej. Jane"
    />
    <app-error-messages [control]="getControl('name')" version="m" label="Este campo"></app-error-messages>
  </div>

  <!-- APELLIDOS -->
  <div class="row">
    <div class="col-md-6 mb-4">
      <label class="form-label" for="last_name">Apellido paterno</label>
      <input
        type="text"
        id="last_name"
        formControlName="last_name"
        class="form-control customInputs"
        placeholder="ej. Doe"
      />
      <app-error-messages [control]="getControl('last_name')" version="m" label="Este campo"></app-error-messages>
    </div>
    <div class="col-md-6 mb-4">
      <label class="form-label" for="last_name2">Apellido materno</label>
      <input
        type="text"
        id="last_name2"
        formControlName="last_name2"
        class="form-control customInputs"
        placeholder="ej. Doe"
      />
      <app-error-messages [control]="getControl('last_name2')" version="m" label="Este campo"></app-error-messages>
    </div>
  </div>

  <!-- FECHA DE NACIMIENTO & GÉNERO -->
  <div class="row">
    <div class="col-md-6 mb-4">
      <label class="form-label" for="birth_date">Fecha de nacimiento</label>
      <input type="date" id="birth_date" formControlName="birth_date" class="form-control customInputs" [max]="fechaMaxima"/>
      <app-error-messages [control]="getControl('birth_date')" version="m" label="Este campo"></app-error-messages>
    </div>
    <div class="col-md-6 mb-4">
      <label class="form-label" for="gender">Género</label>
      <select class="form-control" formControlName="gender">
        <option hidden disabled selected value="">Seleccionar</option>
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
        <option value="39 tipos de gays">39 tipos de gays🏳️‍🌈</option>
      </select>
      <app-error-messages [control]="getControl('gender')" version="m" label="Este campo"></app-error-messages>
    </div>
  </div>

  <!-- EMAIL -->
  <div class="mb-4">
    <label class="form-label" for="email">Correo electrónico</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      class="form-control customInputs"
      placeholder="ej. prueba123@gmail.com"
    />
    <app-error-messages [control]="getControl('email')" version="m" label="Este campo"></app-error-messages>
  </div>

  <!-- CONTRASEÑA -->
  <div class="mb-1">
    <label class="form-label" for="password">Contraseña</label>
    <div class="input-group">
      <input
        [type]="mostrarPassword ? 'text' : 'password'"
        class="form-control customInputs"
        id="password"
        formControlName="password"
        placeholder="Ingresa tu contraseña"
      />

      <button type="button" class="btn bgIconEye" (click)="togglePassword()">
        <span *ngIf="!mostrarPassword">
          <img src="/icons/eye.svg" alt="eye" />
        </span>

        <span *ngIf="mostrarPassword">
          <img src="/icons/eye-off.svg" alt="eye-off" />
        </span>
      </button>
    </div>
  </div>
  <div class="mb-4">
    <small class="text-muted"
      >*Debe contener mínimo 8 caracteres, con mayúsculas, números y
      símbolos.</small
    >
    <app-error-messages [control]="getControl('password')" version="m" label="Este campo"></app-error-messages>
  </div>

  <!-- CONFIRMAR CONTRASEÑA -->
  <div class="mb-4">
    <label class="form-label" for="password_confirmation">Confirma tu contraseña</label>
    <div class="input-group">
      <input
        [type]="mostrarPasswordConfirm ? 'text' : 'password'"
        class="form-control customInputs"
        id="password_confirmation"
        formControlName="password_confirmation"
        placeholder="Confirma la contraseña"
      />

      <button type="button" class="btn bgIconEye" (click)="togglePasswordConfirm()">
        <span *ngIf="!mostrarPasswordConfirm">
          <img src="/icons/eye.svg" alt="eye" />
        </span>

        <span *ngIf="mostrarPasswordConfirm">
          <img src="/icons/eye-off.svg" alt="eye-off" />
        </span>
      </button>
    </div>
      <app-error-messages [control]="getControl('password_confirmation')" version="m" label="Este campo"></app-error-messages>
      <small *ngIf="registerForm.errors?.['noMatch'] && registerForm.touched" class="textDanger">Las contraseñas no coinciden</small>
  </div>

  <app-button-primary label="Crear cuenta"></app-button-primary>
</form>

<p class="text-center mt-4 text-muted">
  ¿Ya tienes una cuenta? <a routerLink="/login" class="fw-semibold">Inicia sesión aquí</a>
</p>
