<div class="resumeContainer v-100 mb-3">
    <div class="d-flex flex-column gap-3">
        <h5 class="title">Notas/Información extra</h5>
        <div class="d-flex justify-content-between align-items-center">
            <ng-container *ngIf="descripcion !== '' && descripcion !== null">
                <p class="subTitle">{{descripcion}}</p>
            </ng-container>
            <ng-container *ngIf="descripcion === '' || descripcion === null">
                <p class="subTitle">No hay descripción.</p>
            </ng-container>
        </div>
    </div>
</div>
