<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center general">
  <div class="row w-100">
    <!-- LADO IZQUIERDO -->
    <div class="col-lg-6 p-0 d-none d-lg-block">
      <div class="h-100">
        <img [src]="imageUrl" class="img-fluid h-100 w-100 backgroundImage" alt="Imagen">
       </div>
    </div>

    <!-- LADO DERECHO -->
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center">
        <img src="/logos/logo-horizontal.svg" routerLink="" alt="Logo" class="mb-2 logo">
        <router-outlet></router-outlet>
    </div>
    
  </div>
</div>
