.imgContainer {
  max-height: 100%;
  max-width: 100%;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-principal);
}

.infoContainer {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 16px;
}

.productName {
  font-weight: 600;
  font-size: 1.75rem;
  text-align: start;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.badge {
  background-color: var(--secondary-color);
  display: inline-block;
  padding: 2px 6px;
  border-radius: 2px;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  max-width: 100px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badgeCategories {
  width: calc(auto - 5px);
  padding: 4px 4px;
  background-color: transparent !important;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--text-principal);
  border: 1px solid var(--separator);
  border-radius: 2px;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vr {
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px;
}

hr {
  border: none;
  border-top: 4px solid var(--separator);
  margin: 1rem 0;
}

.comments {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--scondary-text);
}

.price {
  font-size: 1.75rem;
  font-weight: 600;
}

.lastPrice {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--scondary-text);
}

.labelInfo {
  font-weight: 600;
  font-size: 1rem;
}

.dataInfo {
  font-weight: 400;
  font-size: 1rem;
}

.label {
  font-weight: 600;
  font-size: 1rem;
}

.moreDetails {
  font-weight: 300;
  font-size: 1rem;
  text-align: justify;
}

.btn {
  white-space: nowrap;
  max-width: 100%;
}

.btnAppointment {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 16px;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  width: auto;
  max-width: 100%;
  height: 50px;
  border-radius: 8px;
  text-align: center;
  white-space: nowrap;
}

.btnAppointment:hover {
  background-color: var(--primary-color-shadow);
  color: white;
}

.btn.btnAppointment:active {
  background-color: var(--primary-color-shadow);
  color: white;
  outline: none;
  box-shadow: none;
}

.btn.btnFav {
  background-color: var(--secondary-color);
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  width: auto;
  max-width: 100%;
  height: 50px;
  border-radius: 50%;
}

.btn.btnFav:hover,
.btn.btnFav:active,
.btn.btnFav:target {
  background-color: var(--secondary-color-shadow);
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* QUANTITY */
.counter {
  width: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--input-color);
  overflow: hidden;
  border-radius: 4px;
}

.counter input {
  width: 30px;
  border: 0;
  line-height: 30px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  background: none;
  color: var(--text-principal);
  appearance: none;
  outline: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.counter button {
  display: block;
  font-size: 1.5625rem;
  padding: 0 10px;
  cursor: pointer;
  color: var(--secondary-color-shadow);
  user-select: none;
  font-weight: 600;
  border: none;
  background-color: transparent;
}

.quantityTitle {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--text-principal);
}

.form-label{
  font-size: 16px;
  font-weight: 600;
  color: var(--text-principal);
}

textarea {
  resize: none;
}

.btnSendReview {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 16px;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  width: auto;
  max-width: 100%;
  height: 50px;
  border-radius: 8px;
  text-align: center;
  white-space: nowrap;
}

.btnSendReview:hover {
  background-color: var(--primary-color-shadow);
  color: white;
}

.btn.btnSendReview:active {
  background-color: var(--primary-color-shadow);
  color: white;
  outline: none;
  box-shadow: none;
}

@media (max-width: 767px) {
  .badgeCategories {
    width: calc(auto - 6px);
    font-size: 0.625rem;
  }
}
