<div class="container-xxl px-md-4 px-lg-5 min-vh-100 mb-5">
    <div class="row">
        <!-- PRODUCTS -->
        <div class="col-12 col-md-8 col-lg-8 mb-5">
            <div class="d-flex justify-content-start align-items-center gap-1 mb-3 mb-md-3 mb-lg-3">
                <div class="d-flex align-items-center">
                    <button class="btnReturn" routerLink="/products"><svg xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="var(--text-principal)"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg></button>
                </div>
                <h5 class="return mb-0">Continuar comprando</h5>
            </div>
            <hr>
            <div class="d-flex flex-column justify-content-start align-items-start gap-3">
                <h5 class="textNormal mt-2">Tienes 0 artículos en tu carrito</h5>
                <label class="custom-checkbox">
                    <input type="checkbox" />
                    <span class="checkmark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#2b2d2f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                    </span>
                    <span class="textNormal">Seleccionar todos los artículos (0)</span>
                </label> 
            </div>

            <div class="mt-md-4 mt-lg-4 mt-2 table-responsive">
                <table class="table align-middle" id="no-more-tables">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Artículos</th>
                            <th>Precio unitario</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="align-middle">
                            <td class="align-items-center select-td" data-title="Seleccionar">
                                <label class="custom-checkbox d-flex align-items-center">
                                    <input type="checkbox" />
                                    <span class="checkmark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#2b2d2f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                                    </span>
                                </label>
                            </td>
                            <td class="align-middle" [attr.data-title]="name">
                                <div class="d-flex align-items-center gap-2">
                                    <img src="/images/testProduct.webp" class="prdouctImg"/>
                                    <h5 class="productName">Plato de comida</h5>
                                </div>
                            </td>
                            <td class="align-middle" data-title="Precio unitario">
                                <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center gap-2">
                                    <h2 class="price mb-0">$100 Mxn</h2>
                                    <span class="badge">-10%</span>
                                </div>
                            </td>
                            <td class="align-middle" data-title="Cantidad">
                                <div class="counter d-flex align-items-center">
                                    <button class="btnCounter down" (click)="decrement()">-</button>
                                    <input type="text" [value]="quantity()" readonly min="1">
                                    <button class="btnCounter up" (click)="increment()">+</button>
                                </div>
                            </td>
                            <td class="align-middle" data-title="Subtotal">
                                <h2 class="price mb-0">$100 Mxn</h2>
                            </td>
                            <td class="align-middle delete-td" data-title="Acciones">
                                <button class="btnDelete"><svg xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btnDeleteAll">Borrar todo</button>
        </div>

        <!-- ORDER RESUMEN -->
        <div class="col-12 col-md-4 col-lg-4 mb-3">
            <app-order-resume [subtotal]="120.20" [discountApply]="50" btnLabel="Pagar ahora"></app-order-resume>
        </div>
    </div>
</div>