<h5 class="title">Perfil</h5>
<p class="desc">Aquí puedes visualizar y editar tu información.</p>

<div class="row mt-4">
  <div class="col-12 col-md-3 text-center mb-4 mb-md-0">
    <div class="profile-card" *ngIf="user() as userData">
        @defer (when user()) {
          <div class="image">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg" alt="Avatar" class="profile-img">
          </div>
        } @placeholder {
          <div class="spinner-border text-secondary m-5" role="status"></div>
        }
      <div class="user-name">
        <span class="name">{{ user().name }} {{ user().last_name }} {{ user().last_name2 }}</span>
      </div>

    </div>
  </div>

  <div class="col-12 col-md-9 rowForm">
    <form [formGroup]="updateInfoForm" class="w-100">
    <div class="mt-1 row g-4">
      <div class="col-md-6">
        <label class="form-label" for="name">Nombre(s)</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control customInputs"
          placeholder="ej. Jane"
        />
        <app-error-messages [control]="getControl('name')" version="m" label="Este campo"></app-error-messages>
      </div>
      <div class="col-md-6">
        <label class="form-label" for="last_name">Apellido paterno</label>
        <input
          type="text"
          id="last_name"
          formControlName="last_name"
          class="form-control customInputs"
          placeholder="ej. Doe"
        />
        <app-error-messages [control]="getControl('last_name')" version="m" label="Este campo"></app-error-messages>
      </div>
      <div class="col-md-6">
        <label class="form-label" for="last_name2">Apellido materno</label>
        <input
          type="text"
          id="last_name2"
          formControlName="last_name2"
          class="form-control customInputs"
          placeholder="ej. Doe"
        />
        <app-error-messages [control]="getControl('last_name2')" version="m" label="Este campo"></app-error-messages>
      </div>
      <div class="col-md-6">
        <label class="form-label" for="email">Correo electrónico</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control customInputs"
          placeholder="ej. prueba123@gmail.com"
        />
        <app-error-messages [control]="getControl('email')" version="m" label="Este campo"></app-error-messages>
      </div>
      <div class="col-md-6">
        <label class="form-label" for="birth_date">Fecha de nacimiento</label>
        <input type="date" id="birth_date" formControlName="birth_date" class="form-control customInputs" [max]="fechaMaxima"/>
        <app-error-messages [control]="getControl('birth_date')" version="m" label="Este campo"></app-error-messages>
      </div>
      <div class="col-md-6">
      <label class="form-label" for="gender">Género</label>
        <select class="form-control" formControlName="gender">
          <option hidden disabled selected value="">Seleccionar</option>
          <option value="femenino">Femenino</option>
          <option value="masculino">Masculino</option>
          <option value="otro">Prefiero no decir</option>
        </select>
        <app-error-messages [control]="getControl('gender')" version="m" label="Este campo"></app-error-messages>
      </div>
    </div>

    <div class="row mt-4">
      <div class="mt-2 col-12 col-md-6 mb-3 mb-md-0">
        <button type="button" class="btn btnSubmit" (click)="confirmChanges()">Actualizar información</button>
      </div>
      <div class="mt-2 col-12 col-md-6">
        <button type="button" class="btn btnSubmit" id="triggerModalBtn" (click)="showModal = true">Cambiar contraseña</button>
      </div>
    </div>
    </form>
  </div>
</div>

<app-verify-password-modal [userId]="user().id" [isOpen]="showModal" (closed)="onModalClosed()"></app-verify-password-modal>