.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.text-muted {
  font-weight: 300;
}

.dropdown-menu {
  width: 400px !important;
  max-width: 400px !important;
  background-color: white;
  border: 1px solid #DFDFDF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 0;
  box-sizing: border-box;
}

.dropdown-item {
  color: var(--text-principal) !important;
  user-select: none;
  font-size: 0.875rem;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  margin: 0;
}

.dropdown-item.unread {
  display: block; 
  width: 100%;       
  background-color: var(--input-color);
  cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  background-color: var(--secondary-color);
  color: white !important;
}

.content {
  background-color: white;
  border-radius: 16px;
}

.main {
  background-color: var(--input-color);
}

.btn.btn-other {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--secondary-color);
  border-radius: 8px;
}

.btn.btn-other:hover {
  background-color: var(--secondary-color-shadow);
  box-shadow: none !important;
  outline: none !important;
}

.btn-other svg {
  width: 24px;
  height: 24px;
  stroke-width: 2;
  stroke: white;
  flex-shrink: 0;
}

.notif-dot {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
}

.profileIconContainer {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23489dba' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.profileIcon {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}


/* SIDEBAR */
.sidebar {
  width: 60px;
  min-width: 60px;
  height: 100vh;
  z-index: 1000;
  background-color: white;
  display: flex;
  flex-direction: column;
}

li svg {
  width: 28px;
  height: 28px;
  stroke: var(--text-principal);
}

.logo {
  width: 100px;
  height: 50px;
}

.nav-pill {
  padding: 2rem 0;
  flex: 1 1 auto;
}

a svg:hover {
  stroke: var(--primary-color);
  cursor: pointer;
}

a.active svg {
  stroke: var(--primary-color);
}




@media (max-width: 767.98px) {
  .dropdown-menu {
    width: 375px !important;
  }

  .sidebar {
    background-color: transparent !important;
  }
  
  a.nav-link  {
    text-decoration: none;
    color: var(--text-principal);
    font-weight: 600;
    font-size: 1rem;
  }

  a.active {
    color: var(--primary-color);
  }

  li svg {
    width: 30px;
    height: 30px;
    stroke: var(--text-principal);
  }

}


