<div class="modal modalGeneral fade" id="verifyPassword" tabindex="-1" aria-labelledby="verifyPasswordLabel">
  <div class="modal-dialog modal-dialog-centered">
  <form [formGroup]="verifyPasswordForm" (ngSubmit)="onSubmit()" class="w-100"> 
    <div class="modal-content">
      <div class="modal-header align-items-end justify-content-end">
        <button type="button" class="btn btnClose" data-bs-dismiss="modal" aria-label="Close">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
        </button>
      </div>
      <div class="modal-body d-flex flex-column align-items-center justify-content-center">
        <h1 class="modal-title" id="verifyPasswordLabel">Verifica tu identidad</h1>
        <h5 class="mt-1 indication">Ingresa tu contraseña actual para continuar con el cambio.</h5>
          <div class="mt-3 input-group px-4">
              <input
                [type]="mostrarPassword ? 'text' : 'password'"
                class="form-control customInputs"
                id="password"
                placeholder="Ingresa tu contraseña"
                formControlName="password"
              />

              <button type="button" class="btn bgIconEye" (click)="togglePassword()">
                <span *ngIf="!mostrarPassword">
                  <img src="/icons/eye.svg" alt="eye" />
                </span>

                <span *ngIf="mostrarPassword">
                  <img src="/icons/eye-off.svg" alt="eye-off" />
                </span>
              </button>
          </div>
      </div>
      <div class="modal-footer d-flex flex-row align-items-center justify-content-center">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button type="button" class="btn btnContinue" data-bs-toggle="modal" data-bs-target="#changePassword">Continuar</button>
      </div>
    </div>
  </form>
  </div>
</div>

<app-change-password-modal></app-change-password-modal>