<h4 class="text-center tittle mt-2">Crea tu cuenta</h4>
<p class="text-center secondaryText thin mb-4">
  Crea tu cuenta y accede a todos nuestros servicios
</p>

<form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()" class="w-100 mt-5">
  <!-- CONTRASEÑA -->
  <div class="mb-1">
    <label class="form-label" for="password">Nueva contraseña</label>
    <div class="input-group">
      <input
        [type]="mostrarPassword ? 'text' : 'password'"
        class="form-control customInputs"
        formControlName="password"
        id="password"
        placeholder="Ingresa tu nueva contraseña"
      />

      <button type="button" class="btn bgIconEye" (click)="togglePassword()">
        <span *ngIf="!mostrarPassword">
          <img src="/icons/eye.svg" alt="eye" />
        </span>

        <span *ngIf="mostrarPassword">
          <img src="/icons/eye-off.svg" alt="eye-off" />
        </span>
      </button>
    </div>
  </div>
  <div class="mb-4">
      <small class="text-muted">
        *Debe contener mínimo 8 caracteres, con mayúsculas, números y
        símbolos.
      </small>
    <app-error-messages [control]="getControl('password')" version="m" label="Este campo"></app-error-messages>
  </div>

  <!-- CONFIRMAR CONTRASEÑA -->
  <div class="mb-4">
    <label class="form-label" for="confirmPassword">Confirmar contraseña</label>
    <div class="input-group">
      <input
        [type]="mostrarPasswordConfirm ? 'text' : 'password'"
        class="form-control customInputs"
        formControlName="confirmPassword"
        id="confirmPassword"
        placeholder="Confirma la contraseña"
      />

      <button type="button" class="btn bgIconEye" (click)="togglePasswordConfirm()">
        <span *ngIf="!mostrarPasswordConfirm">
          <img src="/icons/eye.svg" alt="eye" />
        </span>

        <span *ngIf="mostrarPasswordConfirm">
          <img src="/icons/eye-off.svg" alt="eye-off" />
        </span>
      </button>
    </div>
    <app-error-messages [control]="getControl('confirmPassword')" version="m" label="Este campo"></app-error-messages>
    <small *ngIf="newPasswordForm.errors?.['noMatch'] && newPasswordForm.touched" class="textDanger">Las contraseñas no coinciden</small>
  </div>

  <div class="mb-4">
    <p class="mt-4 text-center text-muted alert">
      Recuerda: solo puedes cambiar tu contraseña una vez al día.
    </p>
    <app-button-primary label="Cambiar contraseña"></app-button-primary>
  </div>

</form>