.title {
    font-size: 28px;
    color: var(--text-principal);
}

.secondaryText {
    font-size: 16px;
    color: var(--text-principal);
}

.alert {
    font-size: 12px;
    color: var(--text-principal);
}

label {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-principal);
}

a {
    text-decoration: none;
    font-size: 600;
    color: var(--text-principal);
}

form {
    max-width: 450px;
}

