<footer class="footer">
  <div class="footer-top container-fluid py-4">
    <div class="row align-items-center justify-content-between">

      <div class="col-md-4 mb-4 mb-md-0">
        <img src="/logos/logo-vertical-blue-black.svg" alt="Logo monipet" width="60" class="mb-2">
        <p class="desc">En MoniPet te ayudamos a encontrar a tu compañero ideal. Acompañamos cada adopción con cuidados antes y después, y ofrecemos servicios veterinarios para que tu mascota crezca feliz, sana y rodeada de amor.</p>
        <p class="d-flex align-items-center gap-1 mb-2">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-mail"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>
        <a href="mailto:monipet.utt@gmail.com">monipet.utt&#64;gmail.com</a>
        </p>
    <!--<p class="d-flex align-items-center gap-1 mb-1">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-phone"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg>
        <a href="tel:+528712599862">+52 871 259 9862</a>
        </p> -->
      </div>

      <div class="col-md-3 mb-4 mb-md-0">
        <h5 class="fw-bold">Website</h5>
        <ul class="list-unstyled">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Adopta</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Servicios</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-4 text-center text-md-end">
        <img src="/images/wenomechainsama.svg" alt="Perrito wenomechainsama" class="dog-img">
      </div>

    </div>
  </div>

  <div class="footer-bottom text-center py-2">
    <small>©2025 MoniPet</small>
  </div>
</footer>
