.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-principal);
}

::ng-deep .ngx-pagination .current {
    background: var(--input-color) !important;
    color: var(--text-principal) !important;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 4px;
}

:host ::ng-deep .ngx-pagination .pagination-previous,
:host ::ng-deep .ngx-pagination .pagination-next {
  background-color: var(--secondary-color);
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  border-radius: 4px;
}

:host ::ng-deep .ngx-pagination .pagination-previous.disabled,
:host ::ng-deep .ngx-pagination .pagination-next.disabled {
  background-color: var(--secondary-color);
  color: white;
  font-weight: 500;
  font-size: 1rem;
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.ngx-pagination .pagination-previous:hover,
.ngx-pagination .pagination-next:hover {
  background-color: var(--secondary-color-shadow);
}

.desc {
  font-size: 1rem;
  font-weight: 400;
  color: var(--scondary-text);
}

.badge {
  font-size: 	0.75rem;
  font-weight: 500;
  padding: 6px 9px;
  border-radius: 4px;
}

.badgeSuccess {
  background-color: var(--success-color);
}

.badgeWarning {
  background-color: var(--warning-color);
}

.badgeCanceled {
  background-color: var(--danger-color);
}

.icon-container {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--secondary-color);
}

.icon-container svg {
  width: 25px;
  height: 25px;
  color: white;
}

.creationDate {
  font-size: 0.875rem;
  font-weight: 500;
}

.petName {
  font-size: 0.875rem;
  font-weight: 600;
}

.subTitle {
    font-size: 1.125rem;
    font-weight: 500;
}

@media (max-width: 576px) {

}