.title {
  font-size: 28px;
  color: var(--text-principal);
}

.secondaryText {
  font-size: 16px;
  color: var(--text-principal);
}

label {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-principal);
}

a {
  text-decoration: none;
  font-size: 600;
  color: var(--text-principal);
}

@media (max-width: 991.98px) {
  form {
    width: 100%;
  }
}

@media (min-width: 992px) {
    form {
        width: 450px;
        max-width: 650px;
    }
}
