<h5 class="title">Mis mascotas</h5>
<p class="desc mb-4">Explora tus mascotas y agrega nuevas.</p>

<div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-md-between gap-3">
    <button class="btn btnAddPet" id="addPetModalBtn" (click)="showModal = true">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="me-1 icon icon-tabler icons-tabler-outline icon-tabler-pencil-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /><path d="M13.5 6.5l4 4" /><path d="M16 19h6" /><path d="M19 16v6" /></svg>
        Registrar mascotas
    </button>
    <div class="searchBar">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="var(--scondary-text)"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
        <input type="text" placeholder="Buscar mascota..." [value]="searchText()" (input)="searchText.set($any($event.target).value)">
    </div>
</div>

<div class="row mt-4">
  @defer (when !loading()) {
    @for (pet of filteredPets(); track pet.id) {
      <div class="col-12 col-md-6 col-lg-6 mb-3">
        <app-pet-card (updated)="getPets()" [id]="pet.id" [name]="pet.name" [appointmentAdopt]="false" [gender]="pet.gender" [breed]="pet.breed.breed" [birthday]="pet.birthday" [size]="pet.size" [spayed]="pet.spayed" [adoptionList]="false" [photo_id]="pet.pet_photos[0]?.id" [photo_link]="pet.pet_photos[0]?.photo_link"></app-pet-card>
      </div>
    } @empty {
      @if (pets().length === 0) {
        <div class="mt-5 mb-4 d-flex flex-row justify-content-center align-content-center">
          <h5 class="text-muted">Tu lista de adopción está vacía 😿</h5>
        </div>
      }
            
      @else {
        <div class="mt-5 mb-4 d-flex flex-row justify-content-center align-content-center">
          <h5 class="text-muted">No hay resultados 😿</h5>
        </div>
      }
    }
  } @placeholder {
    <div class="mt-5 mb-4 d-flex flex-row justify-content-center align-content-center">
      <app-loader-elements></app-loader-elements>
    </div>
  }
</div>

<app-add-pet [userId]="user().id" (saved)="getPets()" [isOpen]="showModal" (closed)="onModalClosed()"></app-add-pet>
