.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-principal);
}

.desc {
  font-size: 1rem;
  font-weight: 400;
  color: var(--scondary-text);
}

::ng-deep .ngx-pagination .current {
    background: var(--input-color) !important;
    color: var(--text-principal) !important;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 4px;
}

:host ::ng-deep .ngx-pagination .pagination-previous,
:host ::ng-deep .ngx-pagination .pagination-next {
  background-color: var(--secondary-color);
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  border-radius: 4px;
}

:host ::ng-deep .ngx-pagination .pagination-previous.disabled,
:host ::ng-deep .ngx-pagination .pagination-next.disabled {
  background-color: var(--secondary-color);
  color: white;
  font-weight: 500;
  font-size: 1rem;
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.ngx-pagination .pagination-previous:hover,
.ngx-pagination .pagination-next:hover {
  background-color: var(--secondary-color-shadow);
}

.btnAddPet {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  white-space: nowrap;
  width: auto;
  max-width: 100%;
  height: 40px;
}

.btnAddPet:active,
.btnAddPet:hover {
  background-color: var(--primary-color-shadow) !important;
  color: white !important;
  box-shadow: none !important;
  outline: none !important;
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: var(--input-color) !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  color: var(--text-principal);
  justify-content: space-around;
  gap: 8px;
}

.searchBar::placeholder {
  color: var(--scondary-text);
  font-weight: 400;
  font-size: 16px;
}

.searchBar Input {
  border: none;
  outline: none;
  background: none;
}

@media (max-width: 767.98px) {
  .ngx-pagination .pagination-previous a,
  .ngx-pagination .pagination-next a {
    font-size: 0; /* oculta el texto */
  }

  .ngx-pagination .pagination-previous a::before {
    content: '‹'; /* flecha izquierda */
    font-size: 1.2rem;
  }

  .ngx-pagination .pagination-next a::before {
    content: '›'; /* flecha derecha */
    font-size: 1.2rem;
  }
}