<h5 class="title">Mis citas</h5>
<p class="desc mb-4">Aquí puedes ver todas las citas que has tenido. ¡Gracias por confiar en nosotros!</p>

<div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-md-between gap-3">
    <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-md-between gap-md-4 gap-3">
    <select class="selectCustomDash" formControlName="status">
        <option hidden disabled selected value="">Estado</option>
        <option value="todo">Todo</option>
        <option value="pendiente">Pendiente</option>
        <option value="entregado">Finalizado</option>
        <option value="cancelado">cancelado</option>
    </select>
    
    <select class="selectCustomDash" formControlName="type">
        <option hidden disabled selected value="">Tipo</option>
        <option value="todo">Todo</option>
        <option value="">Estetica</option>
        <option value="">Medica</option>
    </select>

      <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-md-between gap-2">
        <h2 class="dateRate mb-0">Desde:</h2>
        <input type="date" class="dateRange">
        <h2 class="dateRate mb-0">Hasta:</h2>
        <input type="date" class="dateRange">
      </div>
    </div>
    <div class="searchBar">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="var(--scondary-text)"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
        <input type="text" placeholder="Buscar cita...">
    </div>
</div>

<div class="row mt-4">
    @defer (when !loading()) {
        @for (appointment of appointments(); track appointment.id) {
            <div class="col-12 col-md-6 col-lg-6 mb-3">
                <app-appointment-card (updated)="getAppointments()" [id]="appointment.id" [adoption]="appointment.type_appointment === 'Adoptiva'" [status]="appointment.status" [price]="appointment.total_price" [desc]="appointment.descripcion" [date]="appointment.date | date: 'dd MMMM yyyy hh:mm a' | titlecase"></app-appointment-card>
            </div>
        } @empty {
            <div class="mt-5 mb-4 d-flex flex-row justify-content-center align-content-center">
                <h5 class="text-muted">No tienes citas realizadas 😿</h5>
            </div>
        }

        <ng-container *ngIf="appointments()">
            <div class="mt-4 d-flex align-items-center justify-content-center">
                <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" [responsive]="true"></pagination-controls>
            </div>
        </ng-container>
    } @placeholder {
        <div class="mt-5 mb-4 d-flex flex-row justify-content-center align-content-center">
            <app-loader-elements></app-loader-elements>
        </div>
    }
</div>
