<h5 class="title">Mis favoritos</h5>
<p class="desc mb-4">Revisa los productos que marcaste como favoritos. ¡Puedes agregarlos a tu carrito cuando estés listo para comprarlos!</p>

<div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-md-between gap-3">
    <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-md-between gap-2">
        <button type="button" (click)="cleanFavList()" [disabled]="favProducts().length === 0" class="btn btnAction">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="me-1 icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
            Eliminar todo
        </button>
    </div>
    <div class="searchBar">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="var(--scondary-text)"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
        <input type="text" placeholder="Buscar producto...">
    </div>
</div>

<div class="row mt-4">
    @defer (when !loading()) {
        @for (favProduct of favProducts(); track favProduct.id) {
            <!-- CARDS -->
            <div class="col-6 col-md-4 col-lg-3 mb-3">
                <app-product-favorite-card [id]="favProduct.id" [name]="favProduct.name" [discount]="+favProduct.discount" [price]="+favProduct.price" [photo_link]="favProduct.product_photos?.[0]?.photo_link"></app-product-favorite-card>
            </div>
        } @empty {
            <div class="mt-5 mb-4 d-flex flex-row justify-content-center align-content-center">
                <h5 class="text-muted">No tienes productos favoritos 😿</h5>
            </div>
        }
    }
</div>
