.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-principal);
}

::ng-deep .ngx-pagination .current {
    background: var(--input-color) !important;
    color: var(--text-principal) !important;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 4px;
}

:host ::ng-deep .ngx-pagination .pagination-previous,
:host ::ng-deep .ngx-pagination .pagination-next {
  background-color: var(--secondary-color);
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  border-radius: 4px;
}

:host ::ng-deep .ngx-pagination .pagination-previous.disabled,
:host ::ng-deep .ngx-pagination .pagination-next.disabled {
  background-color: var(--secondary-color);
  color: white;
  font-weight: 500;
  font-size: 1rem;
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.ngx-pagination .pagination-previous:hover,
.ngx-pagination .pagination-next:hover {
  background-color: var(--secondary-color-shadow);
}

.desc {
  font-size: 1rem;
  font-weight: 400;
  color: var(--scondary-text);
}

.dateRate {
  font-size: 1rem;
  font-weight: 400;
}

.btnAction {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  white-space: nowrap;
  width: 150px;
  max-width: 100%;
  height: 40px;
}

.btnAction:active,
.btnAction:hover {
  background-color: var(--primary-color-shadow) !important;
  color: white !important;
  box-shadow: none !important;
  outline: none !important;
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: var(--input-color) !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  color: var(--text-principal);
  justify-content: space-around;
  gap: 8px;
}

.searchBar::placeholder {
  color: var(--scondary-text);
  font-weight: 400;
  font-size: 16px;
}

.searchBar Input {
  border: none;
  outline: none;
  background: none;
}

/* SELECT */
select.selectCustomDash {
  background-color: var(--primary-color) !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
  width: 200px;
}

select.selectCustomDash,
::picker(select) {
  appearance: base-select;
}

select.selectCustomDash:focus {
  background-color: var(--input-color);
}

select.selectCustomDash {
  background-color: var(--input-color);
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

select.selectCustomDash::picker-icon {
  color: white;
  content: url("/icons/chevron-downW.svg");
  width: 20px;
  height: 20px;
}

select.selectCustomDash:open::picker-icon {
  content: url("/icons/chevron-upW.svg");
  width: 20px;
  height: 20px;
}

select.selectCustomDash option {
  padding: 5px;
  font-weight: 400;
}

select.selectCustomDash option:hover {
  background-color: var(--primary-color);
  color: white;
}

select.selectCustomDash option:checked {
  background-color: var(--primary-color);
  color: white;
}

select.selectCustomDash option::checkmark {
  color: white;
  content: "🐾";
}

input.dateRange {
  background-color: var(--primary-color) !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
}

input.dateRange::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

@media (max-width: 768px) {
  input.dateRange {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
  }
}
