<div class="custom-backdrop fade" [class.show]="isOpen" *ngIf="isOpen"></div>

<div class="modal modalGeneral fade" id="changePassword" tabindex="-1" aria-labelledby="changePasswordLabel" [attr.aria-hidden]="!isOpen"
  [attr.inert]="!isOpen ? '' : null"
  [class.show]="isOpen"
  [style.display]="isOpen ? 'block' : 'none'">
  <div class="modal-dialog modal-dialog-centered">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="w-100">
    <div class="modal-content">
      <div class="modal-header align-items-end justify-content-end">
        <button type="button" class="btn btnClose" data-bs-dismiss="modal" aria-label="Close" (click)="removeFocus($event)">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <h1 class="modal-title" id="changePasswordLabel">Cambiar contraseña</h1>
        </div>
        <div class="mt-4 px-4">
          <label class="form-label" for="passwordChange">Nueva contraseña</label>
          <div class=" input-group">
            <input
              [type]="mostrarPassword ? 'text' : 'password'"
              class="form-control customInputs"
              id="passwordChange"
              placeholder="Ingresa una contraseña"
              formControlName="password"
            />

            <button type="button" class="btn bgIconEye" (click)="togglePassword()">
              <span *ngIf="!mostrarPassword">
                <img src="/icons/eye.svg" alt="eye" />
              </span>

              <span *ngIf="mostrarPassword">
                <img src="/icons/eye-off.svg" alt="eye-off" />
              </span>
            </button>
          </div>
          <small class="text-muted">*Debe contener mínimo 8 caracteres, con mayúsculas, números y símbolos.</small>
          <app-error-messages [control]="getControl('password')" version="m" label="Este campo"></app-error-messages>
        </div>

        <div class="mt-4 px-4">
          <label class="form-label" for="password">Confirmar contraseña</label>
          <div class="input-group">
              <input
                [type]="mostrarPasswordConfirm ? 'text' : 'password'"
                class="form-control customInputs"
                id="password_confirmation"
                formControlName="password_confirmation"
                placeholder="Confirma la contraseña"
              />

              <button type="button" class="btn bgIconEye" (click)="togglePasswordConfirm()">
                <span *ngIf="!mostrarPasswordConfirm">
                  <img src="/icons/eye.svg" alt="eye" />
                </span>

                <span *ngIf="mostrarPasswordConfirm">
                  <img src="/icons/eye-off.svg" alt="eye-off" />
                </span>
              </button>
          </div>
          <app-error-messages [control]="getControl('password_confirmation')" version="m" label="Este campo"></app-error-messages>
          <small *ngIf="changePasswordForm.errors?.['noMatch'] && changePasswordForm.touched" class="textDanger">Las contraseñas no coinciden</small>
        </div>
        
      </div>
      <div class="modal-footer d-flex flex-row align-items-center justify-content-center">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button type="submit" class="btn btnContinue">Guardar</button>
      </div>
    </div>
  </form>
  </div>
</div>

