<div class="custom-backdrop fade" [class.show]="isOpen" *ngIf="isOpen"></div>

<div #modalElement class="modal modal-lg modalGeneral fade" id="editPet" tabindex="-1" aria-labelledby="editPetLabel" [attr.aria-hidden]="!isOpen"
  [attr.inert]="!isOpen ? '' : null"
  [class.show]="isOpen"
  [style.display]="isOpen ? 'block' : 'none'">
  <div class="modal-dialog modal-dialog-centered">
  <form [formGroup]="editPetForm" (ngSubmit)="onSubmit()" class="w-100"> 
    <div class="modal-content">
      <div class="modal-header align-items-end justify-content-end">
        <button type="button" class="btn btnClose" data-bs-dismiss="modal" aria-label="Close" (click)="removeFocus($event)">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
        </button>
      </div>
      <div class="modal-body d-flex flex-column align-items-center justify-content-center">
        <h1 class="modal-title" id="editPetLabel">Editar mascota</h1>
        <h5 class="mt-1 indication">Actualiza los datos si ha habido algún cambio o correción.</h5>

        <!-- FORMULARIO -->
        <div class="row mt-4 w-100">
            <div class="col-md-5 d-flex flex-column align-items-center gap-2 mb-md-0 mb-4">
                <div class="imgContainer">
                    <ng-template #defaultImg>
                        <img src="/logos/logomark-grey.svg" class="logo" alt="Logo por defecto" />
                    </ng-template>
                    <img *ngIf="updloadedImage; else defaultImg" [src]="updloadedImage" class="pet" alt="">
                </div>
                <button type="button" class="mt-2 btn btnUploadImg">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="me-1 icon icon-tabler icons-tabler-outline icon-tabler-photo"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8h.01" /><path d="M3 6a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3v-12z" /><path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l5 5" /><path d="M14 14l1 -1c.928 -.893 2.072 -.893 3 0l3 3" /></svg>
                    Subir foto
                    <input class="file" id="photo" type="file" accept=".jpg,.jpeg,.png,.webp" (change)="fileChange($event)" />
                </button>
                <button *ngIf="updloadedImage" type="button" class="mt-2 btn btnDeleteImg" (click)="removeImage()">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="me-1 icon icon-tabler icons-tabler-outline icon-tabler-photo-off"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8h.01" /><path d="M7 3h11a3 3 0 0 1 3 3v11m-.856 3.099a2.991 2.991 0 0 1 -2.144 .901h-12a3 3 0 0 1 -3 -3v-12c0 -.845 .349 -1.608 .91 -2.153" /><path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l5 5" /><path d="M16.33 12.338c.574 -.054 1.155 .166 1.67 .662l3 3" /><path d="M3 3l18 18" /></svg>
                    Quitar foto
                </button>
                <app-error-messages [control]="getControl('photo')" version="m" label="Este campo"></app-error-messages>
            </div>

            <div class="col-md-7 d-flex flex-column gap-4">
                <div class="">
                    <label class="form-label" for="name">Nombre</label>
                    <input type="text" id="name" formControlName="name" class="form-control customInputs" 
                        placeholder="Ingresa el nombre de tu mascota"/>
                    <app-error-messages [control]="getControl('name')" version="m" label="Este campo"></app-error-messages>
                </div>

                <div class="row gap-4 gap-md-0">
                    <div class="col-md-6">
                        <label class="form-label" for="breed_id">Raza</label>
                        <select class="form-control" id="breed_id" formControlName="breed_id">
                            <option hidden disabled selected value="">Seleccionar</option>
                            <option *ngFor="let breed of breeds" [value]="breed.id">{{breed.breed}}</option>
                        </select>
                        <app-error-messages [control]="getControl('breed_id')" version="m" label="Este campo"></app-error-messages>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="birthday">Fecha de nacimiento</label>
                        <input type="date" id="birthday" formControlName="birthday" class="w-100 form-control customInputs" [max]="fechaMaxima"/>
                        <app-error-messages [control]="getControl('birthday')" version="m" label="Este campo"></app-error-messages>
                    </div>
                </div>

                <div class="row gap-4 gap-md-0">
                    <div class="col-md-6">
                        <label class="form-label" for="spayed">¿Está esterilizado/a?</label>
                        <div class="mt-2 d-flex flex-row justify-content-start align-items-center gap-4">
                            <label class="custom-checkbox">
                                <input type="checkbox" [checked]="getControl('spayed').value === 1" (change)="setSpayed(1)"/>
                                <span class="checkmark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#2b2d2f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                                </span>
                                <span class="option">Si</span>
                            </label> 

                            <label class="custom-checkbox">
                                <input type="checkbox" [checked]="getControl('spayed').value === 0" (change)="setSpayed(0)"/>
                                <span class="checkmark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#2b2d2f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                                </span>
                                <span class="option">No</span>
                            </label> 
                        </div>
                        <app-error-messages [control]="getControl('spayed')" version="m" label="Este campo"></app-error-messages>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="gender">Genero</label>
                        <select class="w-100 form-control" id="gender" formControlName="gender">
                            <option hidden disabled selected value="">Seleccionar</option>
                            <option value="Macho">Macho</option>
                            <option value="Hembra">Hembra</option>
                            <option value="Desconocido">Desconocido</option>
                        </select>
                        <app-error-messages [control]="getControl('gender')" version="m" label="Este campo"></app-error-messages>
                    </div>
                </div>

                <div class="row gap-4 gap-md-0">
                    <div class="col-md-6">
                        <label class="form-label" for="size">Tamaño</label>
                        <select class="w-100 form-control" id="size" formControlName="size">
                            <option hidden disabled selected value="">Seleccionar</option>
                            <option value="Chico">Chico</option>
                            <option value="Mediano">Mediano</option>
                            <option value="Grande">Grande</option>
                        </select>
                        <app-error-messages [control]="getControl('size')" version="m" label="Este campo"></app-error-messages>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="height">Altura</label>
                        <input (input)="onHeightInput($event)" [min]="1" [max]="90" type="number" id="height" formControlName="height" class="w-100 form-control customInputs" 
                        placeholder="Altura en cm"/>
                        <app-error-messages [control]="getControl('height')" unidad="cm" version="m" label="Este campo"></app-error-messages>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label class="form-label" for="weight">Peso</label>
                        <input (input)="onWeightInput($event)" [min]="1" [max]="90" type="number" id="weight" formControlName="weight" class="w-100 form-control customInputs" 
                        placeholder="Ingresa el peso en kilogramos"/>
                        <app-error-messages [control]="getControl('weight')" unidad="kg" version="m" label="Este campo"></app-error-messages>
                    </div>
                </div>

            </div>
        </div>
      </div>
      <div class="modal-footer d-flex flex-row align-items-center justify-content-center">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button type="submit" class="btn btnContinue mb-3">Guardar datos</button>
      </div>
    </div>
  </form>
  </div>
</div>
