.btnHome {
  background-color: var(--primary-color);
  width: 292px;
  padding: 16px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  height: 54px;
  border-radius: 8px;
}

.btnHome:hover {
  background-color: var(--primary-color-shadow);
  color: white;
}

.btn.btnHome:focus,
.btn.btnHome:active,
.btn.btnHome:focus-visible {
  background-color: var(--primary-color-shadow);
  color: white;
  outline: none;
  box-shadow: none;
}