.card {
  padding: 8px;
  border-radius: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.serviceName {
  font-weight: 600;
  font-size: 1.125rem;
}

.desc {
  font-weight: 400;
  font-size: 1rem;
  color: var(--scondary-text);
}

.icon-container {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--secondary-color);
}

.icon-container svg {
  width: 25px;
  height: 25px;
  color: white;
}

.form-check {
  width: 100%;
}

.visually-hidden-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

.btnSelect {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 16px;
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--text-principal);
  width: 100%;
  max-width: 100%;
  height: 35px;
  border-radius: 8px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.btnSelect:hover {
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
}

.btnSelectActive {
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
}

.btn.btnSelect:active {
  background-color: var(--secondary-color);
  color: white;
  outline: none;
  box-shadow: none;
}

.price {
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.2;
  max-width: 100%;
}

.lastPrice {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--scondary-text);
}

.badge {
  background-color: var(--secondary-color);
  display: inline-block;
  padding: 2px 6px;
  border-radius: 2px;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  max-width: 100px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}
